h1, .instructions {
    text-align: center;
}
/*.ica9rules{
    text-align: left;
}*/
.ball, .inside, .triangle, .answer{
    position:absolute;
}
.ball {
    height: 40vw;
    width: 40vw;
    background-color: #000;
    border-radius: 50%;
    top: 15%;
    left: 30%;
    z-index: 1;
  }

  .inside {
    height: 25vw;
    width: 25vw;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .triangle {
    transform: translate(15%, 27%);
    border-left: 9.5vw solid transparent;
    border-right: 9.5vw solid transparent;
    border-top: 16.44vw solid red;
    z-index: 3;
  }

  .answer {
    width:14%;
    top:50%;
    left:50%;
    margin-top:-6vw;
    margin-left:-7vw;
    font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    z-index: 4;
  }

  #questionButton {
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: red;
    padding: 10px 75px;
    display: block;
    position: absolute;
    top: 95%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #questionButton:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);  
}

@keyframes shake {
    10%, 90% {
        transform: translateX(-2px);
    }
    20%, 80% {
        transform: translateX(4px);
    }
    30%, 50%, 70% {
        transform: translateX(-8px);
    }
    40%, 60% {
        transform: translateX(8px);
    }
}

.ball.shake, .answer.shake {
    animation: shake 0.82s;
    animation-iteration-count: infinite;
}