h1, p{
  font-family: "didot";
  text-align: center;
}

body {
  width: 823px;
  margin: 0 auto;
  background-color: blueviolet;
}

.full-img {
  position: relative;
  display: block;
  width: 823px;
  height: 720px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 823px;
  height: 720px;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
}

button {
  border: 0;
  background: darkviolet;
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 4px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}